@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: dark;
}

@media screen and (max-width: 500px) {
  .inputs {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
    font-size: 16px;
  }
  
  .div {
    height: calc(var(--spacing) * 33);
    width: calc(var(--spacing) * 70);
  }

  .h1 {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}
